## 따릉이 대여소 크롤링
* 대여소 조회 페이지 : https://www.bikeseoul.com:447/app/location/moveRealtimeStatus.do
* 대여소 조회 페이지 : https://www.bikeseoul.com/app/station/moveStationRealtimeStatus.do

In [9]:
import requests

In [12]:
url = "https://www.bikeseoul.com/app/station/getStationRealtimeStatus.do"

In [10]:
response = requests.get(url)

In [24]:
import json
station_json = json.loads(response.text)
all_stations = station_json["realtimeList"]
all_stations[:2]

[{'stationImgFileName': '',
  'stationId': 'ST-485',
  'lang': 'LAG_001',
  'stationName': '1001. 광진교 남단 사거리(디지털프라자앞)',
  'appOsType': None,
  'searchType': None,
  'stationUseYn': 'Y',
  'stationLongitude': '127.12474823',
  'stationLatitude': '37.54179382',
  'rackTotCnt': '17',
  'parkingBikeTotCnt': '2',
  'shared': '12',
  'rackUsableCnt': None},
 {'stationImgFileName': '',
  'stationId': 'ST-486',
  'lang': 'LAG_001',
  'stationName': '1002. 해공공원(천호동)',
  'appOsType': None,
  'searchType': None,
  'stationUseYn': 'Y',
  'stationLongitude': '127.12594604',
  'stationLatitude': '37.54526138',
  'rackTotCnt': '12',
  'parkingBikeTotCnt': '0',
  'shared': '0',
  'rackUsableCnt': None}]

In [22]:
df = pd.DataFrame(all_stations)
df.shape

(2035, 13)

In [19]:
df.to_csv("seoul_bike_station_all.csv", index=False)

In [21]:
pd.read_csv("seoul_bike_station_all.csv").head()

,stationImgFileName,stationId,lang,stationName,appOsType,searchType,stationUseYn,stationLongitude,stationLatitude,rackTotCnt,parkingBikeTotCnt,shared,rackUsableCnt
0,NaN,ST-485,LAG_001,1001. 광진교 남단 사거리(디지털프라자앞),NaN,NaN,Y,127.124748,37.541794,17,2,12,NaN
1,NaN,ST-486,LAG_001,1002. 해공공원(천호동),NaN,NaN,Y,127.125946,37.545261,12,0,0,NaN
2,NaN,ST-487,LAG_001,1003. 해공도서관앞,NaN,NaN,Y,127.125488,37.543957,22,0,0,NaN
3,NaN,ST-488,LAG_001,1004. 삼성광나루아파트 버스정류장,NaN,NaN,Y,127.128868,37.553329,12,2,17,NaN
4,NaN,ST-490,LAG_001,1006. 롯데캐슬 115동앞,NaN,NaN,Y,127.142799,37.554867,17,0,0,NaN

## 과제

In [25]:
# LG전자
url = "https://finance.naver.com/item/sise.nhn?code=066570"

In [28]:
table = pd.read_html(url, encoding="cp949")

In [29]:
len(table)

12

In [34]:
table

[                    0                                          1  \
 0  전일  77,200  77,200  고가  86,20086,200  (상한가  100,000100,000  )
 1    시가  77,10077,100          저가  76,50076,500  (하한가  54,100  )

                             2
 0   거래량  3,683,348  3,683,348
 1  거래대금  306,135  306,135  백만  ,
            0          1       2          3
 0        현재가      85700    매도호가      85800
 1       전일대비  상승  8,500    매수호가      85700
 2     등락률(%)    +11.01%     전일가      77200
 3        거래량    3683348      시가      77100
 4   거래대금(백만)     306135      고가      86200
 5        액면가     5,000원      저가      76500
 6        NaN        NaN     NaN        NaN
 7        상한가     100000    전일상한     100000
 8        하한가      54100    전일하한      54100
 9        PER      31.89     EPS       2687
 10    52주 최고      78900  52주 최저      41600
 11      시가총액  140,246억원   상장주식수  163647814
 12     외국인현재   55,329천주     자본금  818,239백만,
        매도잔량     매도호가  Unnamed: 2     매수호가    매수잔량
 0       NaN      NaN         NaN      NaN     NaN
 1   12884.0  86200.0         NaN      NaN     NaN
 2    4566.0  86100.0         NaN      NaN     NaN
 3   27144.0  86000.0         NaN      NaN     NaN
 4    7724.0  85900.0         NaN      NaN     NaN
 5   10051.0  85800.0         NaN      NaN     NaN
 6       NaN      NaN         NaN      NaN     NaN
 7       NaN      NaN         NaN      NaN     NaN
 8       NaN      NaN         NaN      NaN     NaN
 9       NaN      NaN         NaN  85700.0  1629.0
 10      NaN      NaN         NaN  85600.0  7576.0
 11      NaN      NaN         NaN  85500.0   650.0
 12      NaN      NaN         NaN  85400.0  6009.0
 13      NaN      NaN         NaN  85300.0  5900.0
 14      NaN      NaN         NaN      NaN     NaN,
        0     1      2
 0  91412  잔량합계  38478,
           0              1
 0      시가총액   14조  246  억원
 1    시가총액순위        코스피 24위
 2     상장주식수      163647814
 3  액면가l매매단위  5,000원  l  1주,
              0          1
 0  외국인한도주식수(A)  163647814
 1  외국인보유주식수(B)   55328691
 2  외국인소진율(B/A)     33.81%,
            0                  1
 0  투자의견l목표주가  4.00매수  l  86,843
 1   52주최고l최저  78,900  l  41,600,
                    0                  1
 0   PERlEPS(2020.03)  31.89배  l  2,687원
 1          추정PERlEPS  11.00배  l  8,089원
 2  PBRlBPS (2020.03)     ∞배  l  84,434원
 3      배당수익률l2019.12              0.88%,
           0        1
 0  동일업종 PER   38.02배
 1  동일업종 등락률  +10.36%,
        매도잔량 호가(20분지연)     매수잔량
 0       NaN       NaN      NaN
 1    3036.0     86700      NaN
 2    1779.0     86600      NaN
 3   14164.0     86500      NaN
 4    5427.0     86400      NaN
 5    4637.0     86300      NaN
 6   12884.0     86200      NaN
 7    4566.0     86100      NaN
 8   27144.0     86000      NaN
 9    7724.0     85900      NaN
 10  10051.0     85800      NaN
 11      NaN       NaN      NaN
 12      NaN     85700   1629.0
 13      NaN     85600   7576.0
 14      NaN     85500    650.0
 15      NaN     85400   6009.0
 16      NaN     85300   5900.0
 17      NaN     85200   4885.0
 18      NaN     85100   5236.0
 19      NaN     85000   3080.0
 20      NaN     84900   2468.0
 21      NaN     84800   1045.0
 22      NaN       NaN      NaN
 23  91412.0      잔량합계  38478.0,
         업체명       거래량          전일비
 0       현대차  170000.0   상향  23,000
 1     SK케미칼  401500.0   상향  62,500
 2      삼성전자   57800.0      상향  300
 3      LG화학  720000.0   하향  26,000
 4   SK디스커버리   67200.0  상한가  15,500
 5       NaN       NaN          NaN
 6      셀트리온  315000.0      상향  500
 7      LG전자   85700.0    상향  8,500
 8       카카오  356000.0    상향  3,000
 9   SK이노베이션  186000.0    상향  2,000
 10     신풍제약   75600.0      하향  500,
          업체명       거래량         전일비
 0     엑세스바이오   17200.0  상한가  3,950
 1         씨젠  310700.0   하향  1,500
 2        수젠텍   51400.0   하향  2,100
 3      씨아이에스    7810.0   상향  1,640
 4   셀트리온헬스..  107500.0     상향  800
 5        NaN       NaN         NaN
 6      에이스테크   27600.0   상향  1,550
 7      바이오니아   33600.0   상향  5,600
 8       한국파마   16850.0   하향  1,150
 9        뉴지랩   13850.0     상향  100
 10  유바이오로직..   29500.0   하향  1,450]

In [37]:
table = pd.read_html(sise_url)

In [39]:
table[0].dropna()

            날짜       종가     전일비       시가       고가       저가        거래량
1   2020.05.18  56400.0  2000.0  54800.0  56400.0  54400.0  1005066.0
2   2020.05.15  54400.0   200.0  54200.0  54500.0  53400.0   504474.0
3   2020.05.14  54200.0   800.0  54500.0  54900.0  53900.0   593689.0
4   2020.05.13  55000.0   500.0  53800.0  55000.0  53600.0   577061.0
5   2020.05.12  54500.0     0.0  54600.0  55400.0  54000.0   707739.0
9   2020.05.11  54500.0   700.0  55400.0  55700.0  54300.0   536547.0
10  2020.05.08  55200.0   500.0  55000.0  55500.0  54900.0   632501.0
11  2020.05.07  54700.0   800.0  55100.0  55100.0  54100.0   754248.0
12  2020.05.06  55500.0   300.0  56300.0  56400.0  55200.0   805783.0
13  2020.05.04  55200.0   300.0  54000.0  55800.0  53400.0  1119161.0